#hero {
    background-image: url("https://media.istockphoto.com/id/1081422898/photo/pan-fried-duck.jpg?s=612x612&w=0&k=20&c=kzlrX7KJivvufQx9mLd-gMiMHR6lC2cgX009k9XO6VA=");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 80%;
}